@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* external dependencies */
@import "normalize.css/normalize.css";

/* vendor ui modifications */
@import "vendor/_outdated-browser"; 

/* project files */
@import "global/_resets";
@import "global/_typography";
@import "global/_buttons";
@import "global/_forms";

body {
	background: $colorTypeLight;
	min-height: 100vh;
}